<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meewa Center</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="bg-light">
  <div id="app">
    <div class="row">
        <div class="col-md-12 loading text-center">
            <h2 class="mb-0">Loading ...</h2>
            <h5 class="texts"></h5>
            <button style="display:none" class="btn btn-primary cont">Continue</button>
        </div>
        <div class="col-md-12 rick" style="display:none">
            <video id="vid" style="width:80vw;height: 100%;" src="/vid.mp4" controls></video>
        </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- import jquery -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>
    const messages = [
        "We are getting it",
        "almost done",
        "common message",
        "easy message easy",
    ];
    $(document).ready(function(){
      
        // display random message from array of messages in p.texts eache 2 seconds
        setTimeout(function(){
            var random = Math.floor(Math.random() * messages.length);
            $('.texts').text(messages[random]);
            // change body background after 2 seconds
            setTimeout(function(){
                $(".cont").show();
            }, 200);
        }, 2000);
        $(".cont").click(function(){
            $(".loading").hide();
            setTimeout(function(){
                $('body').toggleClass("bg-black text-white");
                $(".rick").show();
                document.getElementById("vid").play();
                document.getElementById("vid").requestFullscreen();
                document.getElementById("vid").loop = true;
            }, 100);
        });
    });
  </script>
</body>
</html>